---
import profileData from "../data/profile.json";

const links = profileData[0].socialLinks;
---

<ul class="social-icons">
  {
    links.map((item) => (
      <li>
        <a
          href={item.url}
          title={item.alt}
          aria-label={item.alt}
          target={item.name === "envelope" ? undefined : "_blank"}
          rel={
            item.name === "envelope" ? undefined : "noopener noreferrer"
          }
          class:list={["icon", `icon-${item.name}`]}
        >
          <span class="sr-only">{item.alt}</span>
        </a>
      </li>
    ))
  }
</ul>
